<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>汪峰</string>
		<key>songname</key>
		<string>春天里</string>
		<key>pic</key>
		<string>1.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>周杰伦</string>
		<key>songname</key>
		<string>双截棍</string>
		<key>pic</key>
		<string>2.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蔡琴</string>
		<key>songname</key>
		<string>渡口</string>
		<key>pic</key>
		<string>3.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>刘若英</string>
		<key>songname</key>
		<string>后来</string>
		<key>pic</key>
		<string>4.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>凤凰传奇</string>
		<key>songname</key>
		<string>荷塘月色</string>
		<key>pic</key>
		<string>5.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陈奕迅</string>
		<key>songname</key>
		<string>十年</string>
		<key>pic</key>
		<string>6.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>刘德华</string>
		<key>songname</key>
		<string>冰雨</string>
		<key>pic</key>
		<string>7.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张学友</string>
		<key>songname</key>
		<string>吻别</string>
		<key>pic</key>
		<string>8.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张信哲</string>
		<key>songname</key>
		<string>信仰</string>
		<key>pic</key>
		<string>9.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>孙燕姿</string>
		<key>songname</key>
		<string>绿光</string>
		<key>pic</key>
		<string>10.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张靓颖</string>
		<key>songname</key>
		<string>终于等到你</string>
		<key>pic</key>
		<string>11.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>那英</string>
		<key>songname</key>
		<string>征服</string>
		<key>pic</key>
		<string>11.jpg</string>
	</dict>
</array>
</plist>
