<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myAutolayoutWithCode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2EB17D241D2B523D007A716B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EB17D3D1D2B523E007A716B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2EB17D481D2B523E007A716B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
